html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.MuiTypography-root {
  color: #f5f5e3;
}

a:link, a:visited {
  color: rgb(141, 179, 207) !important;
}

a:hover {
  color: rgb(174, 210, 237) !important;
}

.title.MuiTypography-root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.15;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  font-size: 4rem;
  min-width: 250px;
}

@media (max-width: 500px) {
  .title.MuiTypography-root {
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 340px) {
  .title.MuiTypography-root {
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.items {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.item {
  max-width: 500px;
}

.link {
  text-align: center;
  cursor: pointer;
  padding-bottom: 2%;
  color: #f5f5e3;
}

.link:hover {
  color: rgb(113, 136, 154);
}

.calendar {
  max-width: 500px;
  color: #f5f5e3;
}

.text {
  max-width: 500px;
}

.cards {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.card.MuiCard-root {
  color: #f5f5e3;
  max-width: 345px;
  background: rgba(38, 42, 51, 1);
}

.card-text.MuiTypography-root {
  color: #f5f5e3;
}

.card:hover {
  background-color: rgb(31, 34, 42);
}

@media (min-width: 1000px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image {
  width: 500px;
  max-width: 100%;
}

@media (max-width: 550px) {
  .item {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .item {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .item {
    max-width: 250px;
  }
}

.readMe {
  padding-bottom: 2%;
}

.ProjectPage-container.MuiContainer-root {
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 4rem;
  position: absolute;
  background-image: linear-gradient(
    rgba(68, 86, 102, 1) 0%,
    rgba(62, 71, 82, 1) 30%,
    rgba(38, 42, 51, 1) 60%,
    rgba(1, 6, 20, 1) 100%
  );
}

.Home-container.MuiContainer-root {
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 4rem;
  position: absolute;
  background-image: radial-gradient(
    circle at 50% 0%,
    rgba(255, 66, 24, 1) 0%,
    rgba(255, 119, 68, 1) 120px,
    rgba(210, 212, 140, 1) 210px,
    rgba(132, 159, 180, 1) 230px,
    rgb(90, 105, 118) 290px,
    rgb(67, 78, 90) 330px,
    rgba(38, 42, 51, 1) 400px,
    rgba(1, 6, 20, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: rgba(1, 6, 20, 1)) {
  html {
    color-scheme: #f5f5e3;
  }
  body {
    color: #f5f5e3;
    background: black;
  }
}
